<!DOCTYPE html>
<html>
<head>
	<title>Explore</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="static/CSS/style3.css">
</head>	
<body>
	<div class="section">
		<div class="mainheader">
			<nav>
			 <a href="{{url_for('home')}}">home</a>
			 <a href="{{url_for('prediction')}}">Prediction</a>
			 <a href="{{url_for('images')}}">Images</a>
			 <a href="{{url_for('contact')}}">contact</a>
			</nav>
		  
			<div class="menubtn">
			 <button class="byn"> 
				<a href="https://www.parkinson.org/resources-support/helpline#:~:text=Contact%20our%20Helpline%20at%201,answers%20to%20your%20Parkinson%27s%20questions.&text=Call%20the%20Parkinson%27s%20Foundation%20Helpline,Parkinson%27s%20disease%20(PD)%20questions">Helpline</a>
			 </button>
			</div>
		   </div>
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Explore</h1>
				</div>
				<div class="content">
					<h3>Parkinson's disease</h3>
					<p>Parkinson's disease is a progressive disorder that affects the nervous system and 
					the parts of the body controlled by the nerves. Symptoms start slowly. 
					The first symptom may be a barely noticeable tremor in just one hand. Tremors are common, 
					but the disorder may also cause stiffness or slowing of movement.<br><br>In the early stages
					 of Parkinson's disease, your face may show little or no expression. Your arms may not swing when you walk.<br><br>Parkinson's disease symptoms worsen 
					 as your condition progresses over time.<br><br>Parkinson's signs and symptoms may include:
					 Tremor,Slowed movement (bradykinesia),Rigid muscles,Impaired posture and balance,
					 Loss of automatic movements and Writing changes.......</p>
					<div class="button">
						<a href="https://www.mayoclinic.org/diseases-conditions/parkinsons-disease/symptoms-causes/syc-20376055#:~:text=Parkinson's%20disease%20is%20a%20progressive,stiffness%20or%20slowing%20of%20movement.">Learn more</a>
					</div>
				</div>
				
			</div>
			<div class="image-section">
				<img src="static/img/plus.jpg">
			</div>
		</div>
	</div>
</body>
</html>