
<html>
    <head> 
        <title> image</title>
        <link rel="stylesheet" type="text/css" href="static/CSS/style4.css">
    </head>
<body>
    <div class="mainheader">
        <nav>
            <a href="{{url_for('home')}}">home</a>
            <a href="{{url_for('prediction')}}">Prediction</a>
            <a href="{{url_for('images')}}">Images</a>
            <a href="{{url_for('contact')}}">contact</a>
        </nav>
      
        <div class="menubtn">
         <button class="byn"> 
            <a href="https://www.parkinson.org/resources-support/helpline#:~:text=Contact%20our%20Helpline%20at%201,answers%20to%20your%20Parkinson%27s%20questions.&text=Call%20the%20Parkinson%27s%20Foundation%20Helpline,Parkinson%27s%20disease%20(PD)%20questions">Helpline</a>
         </button>
        </div>     
    </div>
    <div class="example">
        <h1>Some of the examples that have been used for the prediction</h1>
    </div>
<div class="xyz">
    <img src="static/img/1.png" alt="">
    <img src="static/img/2.png" alt="">
    <img src="static/img/3.png" alt="">
    <img src="static/img/4.png" alt="">
    <img src="static/img/5.png" alt="">
    <img src="static/img/6.png" alt="">
</div> 
</body>
</html>
    